header, main, footer {
    padding-left: 150px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav{
    width:200px;
}

.sidebg
{
    height:120px;
    width:300px;
}




.sidenav li > a > i.material-icons {
    width: 0px;
}

.menupad {
    margin-top: 20px;
    margin-left: 10px;
}


table {
    margin: 1px;
    text-align: center;
}

td {
    text-align: center;
}
tr{
    border-bottom: 0.1px solid lightgrey;
}

.tabs .tab a:hover, .tabs .tab a.active {
    font-weight: bold;
    color: black;
    background-color:white;
}


.tabs .tab a {
    text-decoration: none;
    color: black;
    background-color: white;
}

    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background-color: white;
        outline: none;
    }

.sidenav li > a {
text-decoration:none;
}