@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<div class="container">
    <div class="row">
         <div class="col-md-1">
            Developer :
         </div>
        <div class="col-md-3">
            <select id="developer" style="width:200px">
                @foreach (var z in (List<string>)ViewData["Developers"])
                {
                    <option value="@z">@z</option>
                }
            </select>
        </div>
        <div class="col-md-1">
            Methodology:
        </div>
        <div class="col-md-3">
            <select id="method" style="width:200px">
                <option value="sum">Sum</option>
                <option value="gmean">Geometric Mean</option>
                <option value="amean">Arithmetic Mean</option>
                <option value="wtamean">Weighted Arithmetic Mean</option>
                <option value="wtprodmodel">Weighted Product Model</option>
                <option value="hmean">Harmonic Mean</option>
                <option value="wtsum">Weighted Sum</option>
                <option value="median">Median</option>
                <option value="mode">Mode</option>
            </select>
        </div>
        <div class="col-md-2">
            Data Preprocessing:
        </div>
        <div class="col-md-2">
            <select id="preproc" style="width:200px">
                <option value="">None</option>
                <option value="minmax">Min Max</option>
                <option value="zscore">Z-Score</option>
            </select>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="checkForWeightedFunc()" type="submit">Calculate</button>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>








<div id="itemlist">
<partial name="PartialViewDashboard"></partial>
</div>

<!-- Modal -->
<div class="modal fade" id="wtModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Weights</h5>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                     <div class="row">
                           <div class="col-md-4">
                            LOC
                           </div>
                        <div class="col-md-6">
                             <input type="text" id="txtLoc" /><br>
                           </div>
                     </div>
                <br/>
                    <div class="row">
                        <div class="col-md-4">
                            Commits
                            </div>
                            <div class="col-md-6">
                             <input type="text" id="txtCommits" /><br>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            Tasks Completed
                        </div>
                        <div class="col-md-6">
                             <input type="text" id="txtTasks_Completed" /><br>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            No. of emails
                        </div>
                        <div class="col-md-6">
                             <input type="text" id="txtNo_of_emails" /><br>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            Keystrokes and Mouseclicks
                        </div>
                        <div class="col-md-6">
                             <input type="text" id="txtKeystrokes_Mouseclicks" />
                        </div>
                    </div>
                </div>     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="toggleModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="closeModal()">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleModal() {        
        $('#wtModal').modal('toggle');
    }
    function closeModal() {
      
        var weights = { 'LOC': $('#txtLoc').val(), 'Commits': $('#txtCommits').val(), 'Tasks_Completed': $('#txtTasks_Completed').val(), 'No_of_emails': $('#txtNo_of_emails').val(), 'Keystrokes_Mouseclicks': $('#txtKeystrokes_Mouseclicks').val() }
        send(weights);
        $('#wtModal').modal('toggle');
    }
    function checkForWeightedFunc() {
        var method = document.getElementById('method').value;
        if (method == 'wtamean' || method == 'wtsum' || method == 'wtprodmodel') {
            toggleModal();
        }
        else 
        {
            send({});
        }            
    }    
    function send(weights) {
        var developer = document.getElementById('developer').value;
        var method = document.getElementById('method').value;
        var preproc = document.getElementById('preproc').value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("CalculateProductivity", "Home")',
            data: { developer:developer, method:method, preproc:preproc, weights: JSON.stringify(weights) },
            success: function (response) {
                $('#itemlist').html('');
                $('#itemlist').html(response);
                
            },
            error: function (xhr, status, error) {
                //alert('Error: ');
            }
        });

    }
</script>