@{
    ViewData["Title"] = "Developers";
}

@model List<DevProdWebApp.Models.Developer>
<h1>@ViewData["Title"]</h1>

<p>Add Developers for performance evaluation</p>
First Name :
<input type="text" id="fname" />
Last Name :
<input type="text" id="lname" />
User Name :
<input type="text" id="uname" />
<button class="btn btn-primary" onclick="send()" type="submit">Add Developer</button>


<p>Available Developers</p>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
@foreach (var x in Model)
{
    <tr>
    <td>@x.Id</td> <td> @x.Username</td>
    </tr>
}
</table>



<script type="text/javascript">
    function send() {
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var uname = document.getElementById('uname').value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddDeveloper", "Home")',
            data: { fname: fname, lname: lname, uname: uname },
            success: function (response) {
                //alert('Success: ');
                location.reload();
            },
            error: function (xhr, status, error) {
                //alert('Error: ');
            }
        });

    }
</script>
