@{
    ViewData["Title"] = "Projects";
}

@model List<DevProdWebApp.Models.Project>
<h1>@ViewData["Title"]</h1>

<p>Add Metrics for performance evaluation</p>
Name :
<input type="text" id="proj_name" />
Description :
<input type="text" id="proj_description" />
<button class="btn btn-primary" onclick="send()" type="submit" >Add Project</button>


<p>Available Projects</p>
@foreach (var x in Model)
{
    <div>@x.Id  @x.Name</div>
}



<script type="text/javascript">
    function send() {
        var projName = document.getElementById('proj_name').value;
        var projDesc = document.getElementById('proj_description').value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProject", "Home")',
            data: { name: projName, description:projDesc },
            success: function (response) {
                alert('Success: ');
                location.reload();
            },
            error: function (xhr, status, error) {
               alert('Error: ');
            }
        });
       
    }
</script>
